[submodule "crow"]
	path = crow
	url = https://github.com/jpbruyere/Crow.git
[submodule "vkh"]
	path = vkh
	url = https://github.com/jpbruyere/vkhelpers.git
[submodule "vkvg"]
	path = vkvg
	url = https://github.com/jpbruyere/vkvg.git
